body {
  background-color: darkslateblue;
}

.App {
  text-align: center;
  padding: 2rem;
  color: white;
}

.paletteWrapper {
  display: flex;
  justify-content: center;
  margin: 2em;
}

.color {
  width: 100px;
  height: 300px;
  border: 1px solid white;
  background-color: darkslateblue;
}

.leftRounded {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.rightRounded {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

button, input {
  border: none;
  padding: 1em;
  margin: 0.5em;
  border-radius: 4px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 8em;
}

button:hover {
  cursor: pointer;
}

.generateButton {
  background-color: #FA0DFF;
  color: white;
}

.saveButton {
  background-color: #425AFF;
  color: white;
}

div > p {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.5;
}